@import url('https://fonts.cdnfonts.com/css/gg-sans-2');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gg sans Normal', sans-serif;
}

.wrapper {
    overflow-x: hidden;
}

.section1 {
    background-color: #404EED;
    width: 100%;
    position: relative;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.navbar .nosidebar a {
    color: #fff;
    line-height: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
}
.navbar .nosidebar li:hover {
    text-decoration: underline;
    color: #fff;
}


.navbar .loginBtn {
    color: #23272a;
    background-color: #fff;
    border-radius: 9999px;
    padding: 0.6rem 0.90rem 0.6rem 0.90rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    border: none;
    cursor: pointer;
}
.navbar .loginBtn:hover {
    color: #404EED;
    text-decoration: underline;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; 
}
/* Button trigger modal css */
.navbar .sidebar {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar .sidebar li {
    height: 50px;
}
.navbar .sidebar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.navbar .sidebar a:hover {
    background-color: #f0f0f0;
}
.navbar li:first-child {
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 28%;
    /* background-color: #fff; */
    background-color: orange;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .closing-btn {
    margin-left: 80.5%;
    margin-top: -5.5%;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .sidebar button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
    background-color: #404EED;
    border-radius: 9999px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 3.5rem;
    padding-left: 0.5rme;
    margin-top: 2.5rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    border: none;
}
@media (max-width: 990px) {
    #hideforSmallScreen {
        display: none;
    }
    .menu-button {
        display: block;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        align-items: self-end;
        align-self: flex-end;
        align-self: e;
    }
    .sidebar {
        display: block;
        /* visibility: visible; */
    }
    .nosidebar {
        /* display: none; */
    }
}
@media (min-width: 990px) {
    /* .sidebar {
        display: none;
        visibility: hidden;
    } */
    .menu-button {
        display: none;
    }
    .nosidebar {
        display: block;
        /* visibility: visible; */
    }
}

.front-main-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    /* text-align: center; */
    text-align: left;
    color: #fff;
    /* padding-top: 120px; */
    padding-top: 60px;
    padding-bottom: 280px;
    padding-left: 3.5rem;
    padding-right: 0.62rem;
}
.front-main-content h1 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 45px;
}
.front-main-content p {
    font-size: 0.95rem;
    line-height: 1.75rem;
    margin-top: 0.9rem;
}
.front-btnGroup {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 100;
    z-index: 20;
    padding-bottom: 2.75rem;
}
.front-btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1.25rem;
    gap: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    color: #23272a;
    background-color: #fff;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    font-family: 'gg sans Normal', sans-serif;
}
.front-btn1:hover {
    color: #404EED;
}
.front-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    gap: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 1.5rem;
    color: #fff;
    background-color: #23272a;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    font-family: 'gg sans Normal', sans-serif;
    display: none;
}
.front-btn2:hover {
    --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
.front-img-1 {
    position: absolute;
    bottom: 0px;
    display: none;
    z-index: 0;
    --tw-scale-x: 2;
    --tw-scale-y: 2;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.front-img-2 {
    position: absolute;
    bottom: 0px;
    display: none;
    z-index: 1;
    width: 550px;
}
.front-img-3 {
    position: absolute;
    bottom: 0px;
    width: 580px;
    /* margin-left: auto;
    margin-right: auto; */
    align-self: center;
}
@media (min-width: 768px) {
    .front-main-content h1 {
        font-size: 3.75rem;
    }
    .front-main-content p {
        font-size: 1.25rem;
    }
}
@media (min-width: 990px) {
    .front-img-1 {
        left: -31rem;
        display: block;
    }
    .front-img-2 {
        right: -10.5rem;
        display: block;
    }
    .front-img-3 {
        left: -10.5rem;
    }
    .front-main-content {
        padding-top: 120px;
        text-align: center;
    }
    .front-main-content p {
        margin-top: 2.5rem;
    }
    .front-btn2 {
        display: block;
    }
    .navbar ul {
        display: block;
        display: flex;
        gap: 2rem;
        list-style: none;
        font-weight: 600;
    }
}


.section2 {
    width: 100%;
    padding-top: 120px;
}
.main-content2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 4rem
}
.LM2-image {
    /* width: 60%; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.LM2-image img {
    width: 95%;
}
.RM2-text {
    /* width: 35%; */
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.RM2-text h2 {
    font-weight: 600;
    color: #23272a;
    font-size: 3rem;
    line-height: 1;
    font-family: 'gg sans Normal', sans-serif;
}
.RM2-text p {
    color: #23272a;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1.5rem;
}
@media (min-width: 990px) {
    .main-content2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .RM2-text {
        width: 35%;
    }
}

.section3 {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f6f6f6;
}
.main-content3 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 2.5rem;
}
.LM3-text {
    /* width: 32%; */
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.LM3-text h2 {
    font-weight: 600;
    color: #23272a;
    font-size: 3rem;
    line-height: 1;
    font-family: 'gg sans Normal', sans-serif;
}
.LM3-text p {
    color: #23272a;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1.5rem;
}
.RM3-image {
    /* width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.RM3-image img {
    width: 95%;
}
@media (min-width: 990px) {
    .main-content3 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .LM3-text {
        width: 32%;
    }
}


.section4 {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.main-content4 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 2rem;
}
.LM4-image {
    /* width: 65%;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.LM4-image img {
    /* width: 95%; */
}
.RM4-text {
    /* width: 35%; */
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-top: 2rem;
}
.RM4-text h2 {
    font-weight: 600;
    color: #23272a;
    font-size: 3rem;
    line-height: 1;
    font-family: 'gg sans Normal', sans-serif;
}
.RM4-text p {
    color: #23272a;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1.5rem;
}
@media (min-width: 990px) {
    .main-content4 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.section5 {
    width: 100%;
    background-color: #f6f6f6;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.main-content5 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    column-gap: 7rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.first-content {
    max-width: 890px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.first-content h2 {
    color: #23272A;
    font-family: 'gg sans Normal', sans-serif;
    font-weight: 900;
    line-height: 38px;
    font-size: 40px;
}
.first-content p {
    color: #23272A;
    font-family: 'gg sans Normal', sans-serif;
    font-weight: 100;
    line-height: 38px;
    font-size: 18px;
    margin-top: 1.5rem;
}
.second-content-image {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.third-content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.third-content h3 {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    font-family: 'gg sans Normal', sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: 900;
    text-align: center;
}
.third-content button {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3.5rem;
    background-color: #404EED;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2.5rem;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    border: none;
}
.third-content button:hover {
    --tw-shadow: inset 10px 22px 70px 10px  rgba(255,255,255,0.2),0px 2px 8px rgba(0,0,0,0.4);
    --tw-shadow-colored: inset 10px 22px 70px 10px var(--tw-shadow-color), 0px 2px 8px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
}
@media (min-width: 480px) {
    .third-content button {
        width: fit-content;
        padding: 1rem 2rem 1rem 2rem;
        gap: 0.5rem;
    }
}


footer {
    background-color: #23272A;
}
.footer-parent-box {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 4rem;
}
.footer-upper-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-upper-section-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
}
.footer-upper-section-left h3 {
    color: #5865F2;
    font-family: 'gg sans Normal', sans-serif;
    font-size: 32px;
    line-height: 2rem;
}
.footer-upper-section-left-languageSelect {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
.img-1 {
    width: 1.5rem;
}
.img-2 {
    cursor: pointer;
}
.footer-upper-section-icon {
    border: 2px solid #fff;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer-upper-section-icon a {
    width: 3.5%;
}
.footer-upper-section-right {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* gap: 5rem; */
    row-gap: 3.5rem;
    column-gap: 1rem;
    width: 100%;
    /* border: 2px solid #fff; */
}
.box-1 h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #5865F2;
    font-family: 'gg sans Normal', sans-serif;
    margin-bottom: 1.1rem;
}
.box-1 ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'gg sans Normal', sans-serif;
}
.box-1 li {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-delay: 200ms;
    list-style: none;
}
.box-1 li:hover {
    text-decoration-line: underline;
}
.box-1 a {
    color: #fff;
    text-decoration-line: none;
}

.box-2 h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #5865F2;
    font-family: 'gg sans Normal', sans-serif;
}
.box-2 ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'gg sans Normal', sans-serif;
}
.box-2 li {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-delay: 200ms;
    list-style: none;
}
.box-2 li:hover {
    text-decoration-line: underline;
}
.box-2 a {
    color: #fff;
    text-decoration-line: none;
}

.box-3 h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #5865F2;
    font-family: 'gg sans Normal', sans-serif;
}
.box-3 ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'gg sans Normal', sans-serif;
}
.box-3 li {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-delay: 200ms;
    list-style: none;
}
.box-3 li:hover {
    text-decoration-line: underline;
}
.box-3 a {
    color: #fff;
    text-decoration-line: none;
}

.box-4 h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #5865F2;
    font-family: 'gg sans Normal', sans-serif;
}
.box-4 ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'gg sans Normal', sans-serif;
}
.box-4 li {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-delay: 200ms;
    list-style: none;
}
.box-4 li:hover {
    text-decoration-line: underline;
}
.box-4 a {
    color: #fff;
    text-decoration-line: none;
}

.footer-middle-section-line {
    width: 90%;
    height: 0.05rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    border: 0.1px solid #404EED;
}

.footer-bottom-section {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-bottom: 2rem;
    /* padding-left: 4rem;
    padding-right: 4rem; */
    margin-left: 3.8rem;
    margin-right: 3.8rem;
}
.footer-bottom-section-button button {
    background-color: #404EED;
    border-radius: 9999px;
    border: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition-duration: 200ms;
    cursor: pointer;
}
.footer-bottom-section-button button:hover {
    --tw-shadow: inset 10px 22px 70px 10px  rgba(255,255,255,0.2);
    --tw-shadow-colored: inset 10px 22px 70px 10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 380px) {
    .footer-upper-section-right {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}
@media (min-width: 768px) {
    .footer-upper-section {
        flex-direction: row;
    }
    .footer-upper-section-left {
        width: 30%;
    }
    .footer-upper-section-icon a {
        width: 10%;
    }
    .footer-upper-section-right {
        width: 55%;
    }
}
@media (min-width: 990px) {
    .footer-upper-section-left {
        width: 25%;
    }
    .footer-upper-section-right {
        grid-template-columns: repeat(4, 1fr);
        gap: 2.5rem;
    }
    .footer-upper-section-icon a {
        width: 10.5%;
    }
}
@media (min-width: 1280px) {
    .footer-upper-section-icon a {
        width: 10%;
    }
}