@import url('https://fonts.cdnfonts.com/css/gg-sans-2');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gg sans Normal', sans-serif;
    background-color: #404EED;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-weight: 600;
}
.navbar a {
    color: #fff;
    line-height: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
}
.navbar li:hover {
    text
}